* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
}

/* Configuração específica para o limite de 4 colunas */
@media (min-width: 600px) {
    .main-content {
        grid-template-columns: repeat(4, 1fr);
    }
}
.div-btns {
    margin-right: 20px;
    margin-top: 15px;
}

.div-btns .btn-diferent_content {
    padding: 10px 20px;
    background-color: #fff;
    color: #066db1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

.div-btns .btn-diferent_content:hover {
    background-color: #e0e0e0;
}


.main-content {
    margin-top: 20px;
    flex-grow: 1;
}

/* Botão flutuante para a página de horários */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #066db1;
    color: #fff;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.floating-btn:hover {
    background-color: #054a7f;
}

