* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f3f4f6, #e3e4e6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    flex-direction: column;
}

.profile-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    border-radius: 50%;
    width: 80%;
    max-width: 200px;
    height: auto;
}

.profile-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 20px;
}

.profile-field {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.profile-field label {
    font-weight: bold;
    display: block;
    margin-right: 10px;
    width: 80px;
}

.profile-field input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-field input[type="password"] {
    letter-spacing: 3px;
}

button, a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #066db1;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
