* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
}

.profile-pic {
    border-radius: 100%;
    border: 1px solid black;
}

.profile {
    text-align: center;
}

.div-btns {
    margin-right: -75px;
}

.btn-diferent_content {
    padding: 1rem 1.3rem;
    font-size: 0.9rem;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f9f9f9;
    position: relative;
}

.carousel-wrapper {
    overflow: hidden;
    width: 80%;
    max-width: 1000px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}
.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    transition: transform 0.3s;
}

.profile-card:hover {
    transform: scale(1.02);
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.text {
    display: flex;
    flex-direction: column;
}

.psychologist-name {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.psychologist-info {
    font-size: 1em;
    color: #777;
}

/* Botões de navegação do carrossel */
.carousel-prev,
.carousel-next {
    background-color: #05518c;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 32px;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: #559bca;
}

.carousel-container img {
    height: 200px;
}

.profile-card {
    display: flex;
    justify-content: space-around;
}